<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233259864964-7rj67lspej6nfjc1msir8ju5ssuejsld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233259864964-7rj67lspej6nfjc1msir8ju5ssuejsld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233259864964-4v8upf43ihv1sh5d1sr4k79igr91likl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBguTk4w2Xk2LD0mSdB2Pi9LTtt5BeAE6U</string>
	<key>GCM_SENDER_ID</key>
	<string>233259864964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.long1.firebaseCoreVmExample</string>
	<key>PROJECT_ID</key>
	<string>flutter-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233259864964:ios:fff621fea008bff1d583d1</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-sdk.firebaseio.com</string>
</dict>
</plist>