<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233259864964-ok8fnltaunhabf0jvcbfjk2fhdp7j578.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233259864964-ok8fnltaunhabf0jvcbfjk2fhdp7j578</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233259864964-dd2qk2ite8qpf8vh8f3v10trocu0nojp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAA9H5zYPCBfj0xfohHaaKsZg3QM7yNQ3s</string>
	<key>GCM_SENDER_ID</key>
	<string>233259864964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.long1.FirebaseAuthDartExample</string>
	<key>PROJECT_ID</key>
	<string>flutter-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233259864964:ios:8b858d19153dd6aed583d1</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-sdk.firebaseio.com</string>
</dict>
</plist>